* {
    margin: 0;
}

/* header section style  */
.header-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: pink;
    /* background-image: url('./img/pngwing\ 10.png');
    background-repeat: no-repeat; */
    height: 85vh;
    /* position: fixed; */
}

.header-details {
    width: 500px;

}

.header-taitel {
    margin-bottom: 10px;
    font-size: 60px;
}

.header-description {
    color: rgb(66, 64, 61);
}

.bttn {
    margin-top: 10px;
    background-color: rgb(63, 61, 61);
    border-radius: 9px;
    border: 0;
    width: 150px;
    height: 60px;
    text-align: center;
    color: wheat;
    font-size: 25px;
}

.cover-img {
    margin-top: 20px;

}

.img {
    height: 700px;
    width: 400px;
}

/* main section start  */

.flower-container {
    margin-top: 80px;
}



.flowers-heading {
    color: #2e2e2e;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    margin-top: 50px;
    font-size: 60px;
}

.flowers-ditels {
    color: rgba(105, 90, 90, 0.6);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
}


.flower-images {
    width: 1440px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    ;
    margin-top: 15px;

    /* height: 320px; */
}

.flower-images li {
    list-style: none;
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
    margin-top: 20px;
    padding-right: 15px;
}

#background-img-one {
    background-color: hotpink;
    width: 364px;
    height: 438px;
    border-radius: 300px 300px 0px 0px;
    background-image: url('img/pngwing 6.png');
    background-repeat: no-repeat;
    background-size: 310px 428px;

    background-position: center bottom;

}

#background-img-tow {
    background-color: rgba(5, 151, 160, 0.15);
    ;
    width: 364px;
    height: 438px;
    border-radius: 300px 300px 0px 0px;
    background-image: url('img/pngwing 5.png');
    background-repeat: no-repeat;
    background-size: 310px 428px;

    background-position: center bottom;

}



#background-img-three {

    background: rgba(71, 125, 17, 0.15);
    width: 364px;
    height: 438px;
    border-radius: 300px 300px 0px 0px;
    background-image: url('img/pngwing\ 7.png');
    background-repeat: no-repeat;
    background-size: 310px 428px;

    background-position: center bottom;


}

/* delivary style  */

.delivery-container {
    width: 1440px;
    height: 320px;
    /* background-color: #E55473; */
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    margin-bottom: 100px;
    margin: auto;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.delevery-icon {
    width: 88px;
    height: 88px;

}

.delevery-taitel {
    /* margin-top: 8px; */
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    color: rgba(39, 39, 39, 0.80);

}


/* third section start  */

.container {
    width: 100%;
    height: 620px;

    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.offer-section-bg-img {
    width: 318px;
    height: 420px;
    padding-left: 250px;
    background-image: url('img/pngwing\ 8.png');
    background-repeat: no-repeat;
    background-position: right;

}

.text-container {
    width: 800px;
    height: 400px;
    text-align: center;
    margin-top: 30px;
}

.discount {
    color: rgb(231, 15, 15);
}

.offer-heading {
    font-size: 60px;
    margin-bottom: 5px;
    margin-top: 40px;
}

.offer-ditels {
    font-size: 35px;
    display: flex;
    justify-content: center;
    margin-bottom: 5px;

}

.section-bttn {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: wheat;
    font-size: 30px;
    margin-top: 10px;
}

/* insta gram section  */
.instagram {
    width: 80%;
    height: 500px;
    margin-top: 50px;
    margin-left: 10%;


}

.header {
    font-size: 60px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.ditels-instgram {
    font-size: 25px;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 30px;
}

.img-section {
    display: flex;
    gap: 15px;
    list-style: none;
    justify-content: space-between;
    /* width: 1440px; */
    width: 100;
    height: 449px;

}

.section-bg-img {
    width: 360px;
    height: 396px;
    background-image: url('img/Flower\ 01.png');


}

.section-bg-img-2 {
    width: 342px;
    height: 396px;
    background-image: url('img/Rectangle\ 4.png');
}

.section-bg-img-3 {
    width: 360px;
    height: 396px;
    background-image: url('img/Rectangle\ 5.png');
}

.section-bg-img-4 {
    width: 360px;
    height: 396px;
    background-image: url('img/Rectangle\ 6.png');
}

/* instagram end  */
.subscrib-section {
    width: 80%;
    /* width: 1440px;
    height: 449px; */
    height: 500px;
    margin-top: 200px;
    margin-left: 10%;
    background-image: url('img/Rectangle\ 9.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.subscrib-header {
    font-size: 55px;
    text-align: center;
    padding-top: 150px;
}

.sub-discription {
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
}

.input-fild {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 15px;
}

.input-fild button {
    width: 150px;
    height: 64px;
    background-color: #E55473;
    border-radius: 5px;
    border: 0px;
    color: wheat;
    font-size: 20px;
    margin-top: 50px;
    margin-right: 5px;
}

.email {
    width: 500px;
    height: 64px;
    border-radius: 8px;
    background: #FFF;
    margin-top: 50px;
}


/* subscrib start  */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer-section {
    text-align: center;
    width: 1922px;
    height: 449px;
    background-color: black;
}

.footer-titel {
    color: #E55473;
    font-size: 48px;
    font-weight: 800;
    margin-top: 150px;
}

.text {
    color: #FFFFFF;
}

.footer-discription {
    color: white;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.copy-right {
    color: #FFF;
}